.SignUPMainContainer{
    height: 76.2vh;
    background: linear-gradient(to right, blue, white);
    padding: 5rem;
    caret-color: transparent;


}
.SignUPSemiMainContainer{
    height: 65%;
    width: 20%;
    background-color: rgb(166, 166, 211);
    border-radius: 1rem;
    caret-color: transparent;
    margin-bottom: -50%;
    margin-left: 35%;
    padding: 5rem;
}
.SignUpEmail{
    width: 130%;
    height: 10%;
    margin-left: -21%;
    border: solid 2pt black;
    padding: 1rem;
    outline: none;
    caret-color: black;
    margin-top: 12%;
}
