/* FindCaretaker.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
.FindCareTakerMain{
  padding: 10rem;
  background-image: url("../../../Assets/Sterlline.Image.png");
  height: 54vh;
  background-size: 110%;
  background-repeat: no-repeat;
}
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }
  
  button {
    padding: 10px 20px;
    background-color: #161baa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .results {
    margin-top: 20px;
  }
  
  .results ul {
    list-style: none;
    padding: 0;
  }
  
  .results li {
    margin-bottom: 10px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .decline-btn{
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    animation: shake 0.8s infinite;
  }
  .book-caretaker-btn {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    animation: shake 0.8s infinite;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
 .SearchFormName{
  margin-top: -90%;
  margin-left: 2rem;
 }