/* 
.Clockcontainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .clock-info {
    text-align: center;
  }
  
  .clock-out-btn,
  .clock-in-btn {
    background-color: #1d0bc7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .clock-out-btn:hover,
  .clock-in-btn:hover {
    background-color: #1f0add;
  }
  
  .ClockMain{
    padding: 10rem;
  } */